<!DOCTYPE html>
<html>
<head>
  <title>MovieWishList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  $(document).ready(function(){
    <%= yield :jquery %>
  });
</script>

</head>
<body>
<div class = "container">
  <div class="text-center">
    <h3 class="text-anger"><%if flash[:errors]%>
    <%flash[:errors].each do |e|%>
      <p><%=e%></p>
    <%end%>
  <%end%></h3>
</div>

<h1><img id = "logo" src="/assets/logo.png" alt=""></h1>
<%if current_user%>
  <h4>Hello, <%=current_user.first_name%></h4>
    <form action='/session' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Log Out' class = "btn btn-danger">
    </form>
  <%else%>
    </h1>
  </div>
  <%end%>
<%= yield %>

</body>
</html>
