<style>
#overview{
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
}

</style>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>


<script>
  $(document).ready(function ($) {
    $('.try_slider').slick({
      arrows:true,
      autoplay:true,
      autoplaySpeed:1500
    });
});
</script>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-success">About this movie...   <a href="/users/<%=current_user.id%>"><button class="btn btn-primary navbar-right">Go Back</button></a></h2>
        <div class="col-sm-6 text-left">

      			<h3><strong><%=@movie['original_title']%><strong></h3>

      		<img src="http://image.tmdb.org/t/p/w500<%=@movie['poster_path']%>"class="img-responsive">
        </div>
        <div class="col-sm-6">
          <h3>take a peek</h3>
          <div class="try_slider">
            <% @movie_images.each do |m|%>
              <div><button type="button" class="slick-prev">Previous</button><img src="http://image.tmdb.org/t/p/w500<%=m['file_path']%>" class="img-responsive">
              <button type="button" class="slick-next">Next</button></div>
            <%end%>
          </div>
        </div>

            <h3>Overview</h3>
            <div id = "overview" class="col-sm-6" style="width:500px; background-color:transparent;">
              <strong><p><b><%=@movie['overview']%></b></p>
              <p><b>Release Date: </b> <%=@movie['release_date']%></p>
              <p><b>vote average: </b><%=@movie['vote_average']%></p>
              <p><b>vote count: </b><%=@movie['vote_count']%></p>
              <p>
                <b>Languages: </b>
                <% @movie['spoken_languages'].each do |l| %>
                <%=l['name']  %>
                <%end%>
              </p>
              <p><i><%=@movie['tagline']%></i></p></strong>
            </div>
          </div>
            <div class="col-sm-12">
              <h3>Trailer</h3>
              <div id = "trailer">
                    <%if @movie_trailer['site'] == 'YouTube' %>
                      <iframe width="100%"  height="555"
                        src="http://www.youtube.com/embed/<%=@movie_trailer['key']%>">
                      </iframe>
                    <% end %>
              </div>
            </div>
  </div>
  </div>
</div>
